@import "tailwindcss";


/* Container sets up the perspective for 3D effect */
.tab-content-container {
  perspective: 1200px;
}

/* The content will pivot from its left edge for a book-like flip */
.tab-content {
  transform-origin: left;
  backface-visibility: hidden;
}

/* Entering Animation - New page flips in from the right side */
.flip-page-enter {
  transform: rotateY(180deg);
  opacity: 0;
}
.flip-page-enter-active {
  transform: rotateY(0deg);
  opacity: 1;
  transition: transform 1900ms ease-in-out, opacity 1900ms ease-in-out;
}

/* Exiting Animation - Current page flips out to the left */
.flip-page-exit {
  transform: rotateY(0deg);
  opacity: 1;
}
.flip-page-exit-active {
  transform: rotateY(-180deg);
  opacity: 0;
  transition: transform 1900ms ease-in-out, opacity 1900ms ease-in-out;
}
